@import url('../twitch.css');

:root {
  --name-padding-inline: 12px;
  --comment-padding-block: 12px;
  --comment-padding-inline: 20px;
  --comment-radius: 30px;
  --comment-border-width: 3px;
  --pointer-display: block;
  --pointer-inner-display: block;
}
