@import 'tailwindcss';

@theme {
  --font-sans: 'Noto Sans JP', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  color: #353b3c;
  font-family: var(--font-sans);
}
