/* ---------------------------------------------------- 
      ©︎通行止め.ᐟ.ᐟ
    ---------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://plus-5min.github.io/live-chat-css/youtube/hide.css');

:root {
  --font: 'Noto Sans JP', sans-serif;
  --amount-font: 'Inter', sans-serif;
  --card-radius: 20px;
}

ytd-sponsorships-live-chat-header-renderer *,
yt-live-chat-paid-sticker-renderer *,
yt-live-chat-membership-item-renderer *,
yt-live-chat-paid-message-renderer *,
yt-live-chat-text-message-renderer * {
  font-family: var(--font);
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.5px !important;
}

ytd-sponsorships-live-chat-header-renderer #author-name,
yt-live-chat-paid-sticker-renderer #author-name,
yt-live-chat-membership-item-renderer #author-name,
yt-live-chat-paid-message-renderer #author-name {
  font-weight: 700 !important;
}

yt-live-chat-text-message-renderer #author-name {
  font-weight: var(--name-font-weight, 700) !important;
}

ytd-sponsorships-live-chat-header-renderer #message,
yt-live-chat-paid-sticker-renderer #message,
yt-live-chat-membership-item-renderer #message,
yt-live-chat-membership-item-renderer #header-subtext,
ytd-sponsorships-live-chat-header-renderer #primary-text,
yt-live-chat-paid-message-renderer #message,
yt-live-chat-text-message-renderer #message {
  font-weight: 500 !important;
}

ytd-sponsorships-live-chat-header-renderer,
ytd-sponsorships-live-chat-gift-purchase-announcement-renderer,
yt-live-chat-paid-sticker-renderer,
yt-live-chat-membership-item-renderer,
yt-live-chat-paid-message-renderer,
yt-live-chat-text-message-renderer {
  animation: var(--animation-name, popInLeft) 0.3s ease-out forwards;
}

@keyframes popInLeft {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes popInRight {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

ytd-sponsorships-live-chat-gift-purchase-announcement-renderer,
yt-live-chat-membership-item-renderer,
yt-live-chat-paid-sticker-renderer,
yt-live-chat-paid-message-renderer,
yt-live-chat-text-message-renderer {
  padding: 8px 16px !important;
}

/* ----------------------------------------------------
      text message
    ---------------------------------------------------- */
yt-live-chat-text-message-renderer {
  --chat-name: var(--listener-name);
  --chat-name-bg: var(--listener-name-bg);
  --chat-comment: var(--listener-comment);
  --chat-comment-bg: var(--listener-comment-bg);
  --chat-comment-rendered-bg: var(--comment-background, var(--chat-comment-bg));
  --chat-comment-border: var(--listener-comment-border);

  flex-direction: var(--message-flex-direction, row) !important;
  grid-gap: 8px;
}

yt-live-chat-text-message-renderer[author-type='member'] {
  --chat-name: var(--member-name);
  --chat-name-bg: var(--member-name-bg);
  --chat-comment: var(--member-comment);
  --chat-comment-bg: var(--member-comment-bg);
  --chat-comment-rendered-bg: var(--comment-background, var(--chat-comment-bg));
  --chat-comment-border: var(--member-comment-border);
}

#content.yt-live-chat-text-message-renderer {
  position: relative;
  display: block;
  max-width: 100%;
  overflow: visible !important;
}

yt-live-chat-author-chip.yt-live-chat-text-message-renderer {
  align-items: center !important;
  justify-content: var(--message-justify-content, start) !important;
  width: 100%;
  margin: 0 auto 8px;
}

yt-live-chat-text-message-renderer #author-name {
  display: var(--name-display, block);
  width: fit-content;
  padding: var(--name-padding, 4px var(--name-padding-inline, 0)) !important;
  border-radius: 18px !important;
  background-color: var(--chat-name-bg) !important;
  color: var(--chat-name) !important;
  font-size: var(--name-font-size, 12px) !important;
}

#author-photo.yt-live-chat-text-message-renderer,
yt-img-shadow#author-photo.yt-live-chat-text-message-renderer img {
  display: var(--profile-image-display, none);
  width: var(--profile-image-size, 36px);
  height: var(--profile-image-size, 36px);
  margin-right: 0;
}

#chat-badges.yt-live-chat-author-chip {
  display: var(--name-display, flex);
}

yt-live-chat-text-message-renderer[author-is-owner] {
  background-color: transparent !important;
}

#message.yt-live-chat-text-message-renderer,
#message.yt-live-chat-text-message-renderer a {
  background-color: var(--chat-comment-rendered-bg) !important;
  color: var(--chat-comment) !important;
}

#message.yt-live-chat-text-message-renderer {
  position: relative;
  display: block !important;
  width: fit-content !important;
  text-align: var(--comment-text-align, inherit);
  padding: var(--comment-padding, var(--comment-padding-block, 0) var(--comment-padding-inline, 0));
  border: var(--comment-border-width, 0) solid var(--chat-comment-border);
  border-radius: var(--comment-border-radius, var(--comment-radius, 0));
  overflow: visible;
  margin-inline: var(--auto-margin-inline, var(--auto-margin-left, 0) var(--auto-margin-right, auto));
}

#message.yt-live-chat-text-message-renderer::before {
  content: var(--pointer-content, '');
  display: var(--pointer-display, inline);
  position: absolute;
  top: 4px;
  inset-inline: var(--pointer-outer-inset-inline, var(--pointer-outer-left, -3px) var(--pointer-outer-right, auto));
  width: 21px;
  height: 21px;
  transform: var(--pointer-outer-transform, rotate(-20deg) skew(20deg, 20deg));
  background-color: var(--chat-comment-border);
  border-top-left-radius: 7px;
  border-bottom-right-radius: 6px;
  z-index: -1;
}

#message.yt-live-chat-text-message-renderer::after {
  content: var(--pointer-inner-content, '');
  display: var(--pointer-inner-display, inline);
  position: absolute;
  top: 7px;
  inset-inline: var(--pointer-inner-inset-inline, var(--pointer-inner-left, 1px) var(--pointer-inner-right, auto));
  width: 18px;
  height: 18px;
  transform: var(--pointer-inner-transform, rotate(-20deg) skew(20deg, 20deg));
  background-color: var(--chat-comment-bg);
  border-top-left-radius: 4px;
  border-bottom-right-radius: 20px;
  z-index: 0;
}

/* ----------------------------------------------------
      superchat
    ----------------------------------------------------*/
yt-live-chat-paid-message-renderer #card.yt-live-chat-paid-message-renderer,
yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #card.yt-live-chat-paid-sticker-renderer {
  overflow: visible;
  position: relative;
  width: 100%;
  box-shadow: none;
}

yt-live-chat-paid-message-renderer #card.yt-live-chat-paid-message-renderer {
  background-color: var(--superchat-comment-bg);
  border-radius: var(--card-radius);
}

yt-live-chat-paid-message-renderer #header.yt-live-chat-paid-message-renderer,
yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #author-info.yt-live-chat-paid-sticker-renderer {
  background-color: var(--superchat-name-bg);
  color: var(--superchat-name);
  padding: 16px 24px;
  border-radius: var(--card-radius) var(--card-radius) 0 0;
}

yt-live-chat-paid-message-renderer #header.yt-live-chat-paid-message-renderer {
  position: relative;
}

yt-live-chat-author-chip[disable-highlighting] #author-name.yt-live-chat-author-chip {
  color: var(--superchat-name) !important;
}

/* sp header only */
yt-live-chat-paid-message-renderer[show-only-header] #header.yt-live-chat-paid-message-renderer,
yt-live-chat-paid-message-renderer:has(#message.yt-live-chat-paid-message-renderer:empty) #header.yt-live-chat-paid-message-renderer {
  border-radius: var(--card-radius);
}

yt-live-chat-paid-message-renderer[show-only-header] #content.yt-live-chat-paid-message-renderer {
  padding: 0;
}

yt-live-chat-paid-message-renderer[allow-animations] #content.yt-live-chat-paid-message-renderer {
  position: relative;
  z-index: 20;
}

yt-live-chat-paid-message-renderer #content.yt-live-chat-paid-message-renderer:has(#message.yt-live-chat-paid-message-renderer:empty) {
  display: none !important;
}

yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) yt-live-chat-author-chip.style-scope.yt-live-chat-paid-sticker-renderer,
yt-live-chat-author-chip.style-scope.yt-live-chat-paid-message-renderer {
  padding: 0;
}

/* user */
yt-live-chat-paid-message-renderer #single-line.yt-live-chat-paid-message-renderer span#chat-badges {
  display: flex;
  align-items: center;
}

yt-live-chat-paid-message-renderer #single-line.yt-live-chat-paid-message-renderer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* price */
yt-live-chat-paid-message-renderer #header-content-primary-column.yt-live-chat-paid-message-renderer {
  padding-right: 0px !important;
}

#purchase-amount-column.yt-live-chat-paid-message-renderer {
  padding: 8px 12px;
  border-radius: 9999px;
  background-color: var(--superchat-name);
  text-wrap: nowrap;
}

#purchase-amount.yt-live-chat-paid-message-renderer {
  display: contents;
}

#purchase-amount yt-formatted-string {
  font-family: var(--amount-font) !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 1 !important;
  color: var(--superchat-name-bg) !important;
}

yt-live-chat-paid-message-renderer #content.yt-live-chat-paid-message-renderer,
yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #sticker-container.yt-live-chat-paid-sticker-renderer,
yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #sticker-container {
  background-color: var(--superchat-comment-bg) !important;
  padding: 16px 24px;
  border-radius: 0 0 var(--card-radius) var(--card-radius);
}

yt-live-chat-paid-message-renderer #content.yt-live-chat-paid-message-renderer {
  color: var(--superchat-comment);
  padding: 16px 24px;
}

/* ---------------------------------------------------- 
      sticker 
    ----------------------------------------------------*/

/* image */
#sticker img {
  width: 56px !important;
  height: 56px !important;
}

/* sticker */
yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #card.yt-live-chat-paid-sticker-renderer {
  display: block;
  padding: 0;
  border-radius: var(--card-radius);
}

/* header */
yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #author-info.yt-live-chat-paid-sticker-renderer {
  display: block;
  padding: 16px 24px !important;
}

/* channel price*/
#content-primary-column.yt-live-chat-paid-sticker-renderer {
  display: flex;
  justify-content: space-between;
}

#price-column.yt-live-chat-paid-sticker-renderer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #purchase-amount-chip.yt-live-chat-paid-sticker-renderer {
  padding: 8px 12px;
  border-radius: 9999px;
  background-color: var(--superchat-name);
  color: var(--superchat-name-bg);
  height: auto;
}

yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #purchase-amount-chip.yt-live-chat-paid-sticker-renderer,
yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #purchase-amount-chip.yt-live-chat-paid-sticker-renderer * {
  font-family: var(--amount-font) !important;
  font-size: 12px !important;
  line-height: 1 !important;
}

/* comment */
yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #sticker-container.yt-live-chat-paid-sticker-renderer,
yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #sticker-container {
  display: block;
}

/* ----------------------------------------------------
      membership
    ---------------------------------------------------- */

#card.yt-live-chat-membership-item-renderer {
  background-color: transparent !important;
  color: var(--membership-name) !important;
  position: relative;
  overflow: visible;
  box-shadow: none;
}

#header-content.yt-live-chat-membership-item-renderer {
  display: block;
  width: 100%;
}

/* welcome channel */
yt-live-chat-membership-item-renderer[show-only-header] #header.yt-live-chat-membership-item-renderer {
  background-color: var(--membership-name-bg) !important;
  color: var(--membership-name);
  padding: 0px;
  border-radius: var(--card-radius);
}

yt-live-chat-membership-item-renderer[show-only-header] div#header-content-inner-column {
  padding: 16px 24px;
  position: relative;
}

/* welcome */
yt-live-chat-membership-item-renderer[show-only-header] #header-subtext.yt-live-chat-membership-item-renderer {
  background-color: var(--membership-name-bg);
  color: var(--membership-name);
  padding: 0px 24px 16px;
  border-radius: 0 0 var(--card-radius) var(--card-radius);
  margin: 0;
}

/* comment */
#header.yt-live-chat-membership-item-renderer {
  background-color: var(--membership-comment-bg);
  color: var(--membership-comment);
  padding: 0px;
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  position: relative;
}

#header-primary-text.yt-live-chat-membership-item-renderer {
  color: var(--membership-name) !important;
}

#content.yt-live-chat-membership-item-renderer {
  background-color: var(--membership-comment-bg);
  color: var(--membership-comment);
  padding: 16px 24px;
  border-radius: 0 0 var(--card-radius) var(--card-radius);
}

yt-live-chat-membership-item-renderer[has-primary-header-text] div#header-content-primary-column {
  width: 100%;
}

/* channel member-history */
yt-live-chat-membership-item-renderer[has-primary-header-text] div#header-content-inner-column {
  background-color: var(--membership-name-bg);
  color: var(--membership-name);
  padding: 16px 24px 0px;
  border-radius: var(--card-radius) var(--card-radius) 0 0;
}

/* membership-name */
yt-live-chat-membership-item-renderer[has-primary-header-text]:not([dashboard-money-feed]) #header-subtext.yt-live-chat-membership-item-renderer {
  background-color: var(--membership-name-bg);
  color: var(--membership-name);
  padding: 6px 24px 16px;
  margin: 0;
}

yt-live-chat-membership-item-renderer:has(#message.yt-live-chat-membership-item-renderer:empty) #header-subtext.yt-live-chat-membership-item-renderer {
  margin: 0;
  color: var(--membership-name);
}

/* channel */
yt-live-chat-author-chip.ytd-sponsorships-live-chat-header-renderer {
  display: flex;
  background-color: var(--membership-name-bg);
  color: var(--membership-name) !important;
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  padding: 16px 24px;
  margin: 0;
}

ytd-sponsorships-live-chat-gift-purchase-announcement-renderer #author-name.member.yt-live-chat-author-chip  {
  width: auto;
  padding: 0 !important;
}

/* gift message */
#content.ytd-sponsorships-live-chat-header-renderer {
  padding: 0px;
}

#primary-text.ytd-sponsorships-live-chat-header-renderer {
  background-color: var(--membership-name-bg);
  color: var(--membership-name);
  border-radius: 0 0 var(--card-radius) var(--card-radius);
  padding: 0px 24px 16px;
}

/* gift */
#header.ytd-sponsorships-live-chat-header-renderer {
  background-color: var(--membership-name-bg);
  color: var(--membership-name);
  border-radius: var(--card-radius);
  box-shadow: none;
}

ytd-sponsorships-live-chat-gift-purchase-announcement-renderer #header {
  background-color: var(--membership-name-bg) !important;
  color: var(--membership-name);
  border-radius: var(--card-radius) !important;
  position: relative;
  overflow: visible !important;
}

ytd-sponsorships-live-chat-gift-purchase-announcement-renderer #content.ytd-sponsorships-live-chat-header-renderer {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

ytd-sponsorships-live-chat-gift-purchase-announcement-renderer #header-content.ytd-sponsorships-live-chat-header-renderer,
ytd-sponsorships-live-chat-gift-purchase-announcement-renderer #header-content-primary-column {
  display: block;
  width: 100%;
}

ytd-sponsorships-live-chat-gift-purchase-announcement-renderer #author-name.member.yt-live-chat-author-chip {
  display: block;
  width: 100%;
  padding: 16px 24px 0;
  color: var(--membership-name) !important;
}

ytd-sponsorships-live-chat-gift-purchase-announcement-renderer #primary-text {
  padding: 0 24px 16px;
  background-color: var(--membership-name-bg);
  color: var(--membership-name) !important;
  border-radius: 0 0 var(--card-radius) var(--card-radius);
}

.rhs-image.ytd-sponsorships-live-chat-header-renderer {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 20px;
}

/* gift image */
ytd-sponsorships-live-chat-header-renderer #img.yt-img-shadow,
ytd-sponsorships-live-chat-header-renderer img.yt-img-shadow {
  width: 80px;
  height: 80px;
}

/* ballon */
#overlay-image.yt-live-chat-paid-message-renderer {
  top: 50%;
  transform: translateY(-50%);
  right: 100px;
  z-index: 2;
  width: 100px;
}

/* emoji */
#content.yt-live-chat-paid-message-renderer img.yt-live-chat-paid-message-renderer {
  width: 18px !important;
  height: 18px !important;
}

/* badge */
.yt-live-chat-author-badge-renderer {
  width: 16px !important;
  height: 16px !important;
}

/* icon */
#author-photo.yt-live-chat-paid-message-renderer,
#author-photo.yt-live-chat-paid-sticker-renderer,
#author-photo.yt-live-chat-membership-item-renderer,
#author-photo.ytd-sponsorships-live-chat-header-renderer {
  display: none !important;
}

/* badge  */
yt-live-chat-author-badge-renderer[type='moderator'],
yt-live-chat-author-badge-renderer[type='verified'] {
  display: none !important;
}

yt-live-chat-renderer {
  visibility: hidden !important;
}

yt-live-chat-renderer * {
  visibility: initial !important;
}

#items.yt-live-chat-item-list-renderer,
yt-live-chat-item-list-renderer #items,
#item-scroller.yt-live-chat-item-list-renderer,
yt-live-chat-item-list-renderer #item-scroller {
  overflow: hidden !important;
}

yt-live-chat-text-message-renderer,
yt-live-chat-text-message-renderer[is-highlighted],
yt-live-chat-text-message-renderer[author-type='owner'],
yt-live-chat-text-message-renderer[author-type='owner'][is-highlighted],
yt-live-chat-text-message-renderer[author-type='moderator'],
yt-live-chat-text-message-renderer[author-type='moderator'][is-highlighted],
yt-live-chat-text-message-renderer[author-type='member'],
yt-live-chat-text-message-renderer[author-type='member'][is-highlighted] {
  background-color: transparent !important;
}

.mention.style-scope {
  background-color: unset;
}

yt-live-chat-text-message-renderer a,
yt-live-chat-membership-item-renderer a {
  text-decoration: none !important;
}

yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-membership-item-renderer[is-deleted],
yt-live-chat-moderation-message-renderer,
yt-live-chat-auto-mod-message-renderer {
  display: none !important;
}

yt-live-chat-app {
  min-width: 0;
  min-height: 0;
  word-break: break-all;
}
